.dokuwiki a.wikilink1,
a:link, a:visited,
#dw__toc ul li a
{
  color:#000 !important;
}
.dokuwiki div.breadcrumbs a,
.bchead, .bcsep,
.breadcrumbs div.trace,
.dokuwiki div.breadcrumbs,
#dokuwiki__header *,
.dokuwiki .docInfo,
#dokuwiki__footer div.license,
#dokuwiki__footer div.license a
{
  color:#ccc !important;
  border:0 !important;
}

*,
div.page *
{
  font-size: 16px !important;
  color:#000 !important;
}

#dokuwiki__site,
body,
#dokuwiki__sitetools form.search input.edit
{
  background-color: #111 !important;
}

.dokuwiki div.page,
.dokuwiki .pageId span
{
  border: 1px solid #333 !important;
  box-shadow: 0 0 .9em #333 !important;
  border-radius: 5px !important;
}

.dokuwiki .pageId span {
border-bottom-left-radius: 0 !important;
border-bottom-right-radius: 0 !important;
border-bottom:0 !important;
}

.dokuwiki div.breadcrumbs div.trace{
  border:0;
}


input.button, 
li.catlist_addpage button.button,
input[type=submit], input.button, a.button, button, .qq-upload-button
{
  padding: 5px 12px !important;
  font-size: 75% !important;
  border: 1px solid #555 !important;
  background:none !important;
  background-color: #fefefe !important;
}

input[type="submit"]:hover,
input.button:hover, 
li.catlist_addpage button.button:hover
{
background-color: #eee !important;
}

div#dokuwiki__header,
div#dokuwiki__footer
{
  opacity: 0;
}
div#dokuwiki__header:hover,
div#dokuwiki__footer:hover
{
  opacity: 99 !important;
}

.dokuwiki textarea.edit {
    font-family: monospace,Consolas,"Andale Mono WT","Andale Mono","Bitstream Vera Sans Mono","Nimbus Mono L",Monaco,"Courier New";
}
